[submodule "bitcoin"]
	path = bitcoin
	url = git@github.com:HowHsu/bitcoin.git

[submodule "bitcoin_core_dev_irc"]
	path = bitcoin_core_dev_irc
	url = git@github.com:HowHsu/bitcoin_core_dev_irc_logs.git

[submodule "bitcoin_mempool_clusters_data"]
	path = bitcoin_mempool_clusters_data
    url = git@github.com:HowHsu/bitcoin_mempool_clusters_data

[submodule "bitcoin_scripts"]
	path = bitcoin_scripts
    url = git@github.com:HowHsu/bitcoin_scripts

[submodule "bitcoin_xmind_drawio"]
	path = bitcoin_xmind_drawio
    url = git@github.com:HowHsu/bitcoin_xmind_drawio

[submodule "thinking-in-bitcoin"]
	path = thinking-in-bitcoin
    url = git@github.com:HowHsu/thinking-in-bitcoin
