[submodule "bitcoin"]
	path = bitcoin
	url = git@github.com:HowHsu/bitcoin.git

[submodule "bitcoin_scripts"]
	path = bitcoin_scripts
    url = git@github.com:HowHsu/bitcoin_scripts

[submodule "bitcoin_xmind_drawio"]
	path = bitcoin_xmind_drawio
    url = git@github.com:HowHsu/bitcoin_xmind_drawio

[submodule "thinking-in-bitcoin"]
	path = thinking-in-bitcoin
    url = git@github.com:HowHsu/thinking-in-bitcoin
[submodule "bitcoin-notes"]
	path = bitcoin-notes
	url = git@github.com:glozow/bitcoin-notes.git
